html,
body {
	padding: 0;
	margin: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	background: #EEEEEE;
	background-image: url("white_carbonfiber.png");
    background-repeat: repeat;
}

header {
  	background: #3798D2;
  	color: #ffffff;
	padding: 2px 14px 2px 14px;
}

header h1 {
	font-size: 25px;
	margin: 0;
	padding: 22px;
  	color: #ffffff;
  	text-align: center;
}

button {
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	border: 0px;
	color: #ffffff;
	font-size: 16px;
	background: #3798D2;
	padding: 9px 19px 9px 19px;
	text-decoration: none;
}

button:hover {
	background: #0B6296;
}

button:active {
	background: #ffffff;
	color: #0B6296;
}

button.add_segment {
	margin: auto;
	min-width: 250px;
}

div.super_container {
    width: 1300px;
	min-height: 800px;
	margin: auto;
	background: #ffffff;
}

div.container {
	padding: 24px 20px;
	background: #ffffff;
	width: 33%;
	min-width: 300px;
	float: left;
}

div.container h1 {
	font-size: 14px;
	padding: 0px;
}

div.container_graph {
	float: left;
	width: 65%;
    margin: 0;
    padding: 24px 0px;
}

input.ugraphcode {
	font-family: 'Consolas', monospace;
	width: 100%;
	height: 32px;
	font-size: 14px;
	padding: 4px;
}

textarea.data_input {
	width: 100%;
	height: 170px;
	margin: 0px 0px 5px 0px;
	resize: vertical;
	font-family: 'Consolas', monospace;
	font-size: 14px;
	background: #eDeDeD;
  	color: #000000;
  	border: 1px;
  	border-style: solid;
  	border-color: #AfAfAf;
}

input, select {
	background: #eDeDeD;
  	color: #000000;
  	border: 1px;
  	border-style: solid;
  	border-color: #AfAfAf;
  	font-family: 'Consolas', monospace;
	font-size: 14px;
	padding: 3px;
}

option {
	background-color: #eDeDeD;
  	color: #000000;
}

input.segment {
	padding: 3px;
}

div.segment_header {
	background: #3798D2;
  	color: #3f3f3f;
	background: #eDeDeD;
	padding: 10px;
}

div.segment_header h2 {
	padding: 0px;
	margin: 0px;
	cursor: default;
}

div.segment_item {
	width: 95%;
	border: 1px;
  	border-style: solid;
  	border-color: #AfAfAf;
  	cursor: default;
  	margin: auto;
  	min-width: 340px;
}

div.segment_item_body {
	width: 100%;
}

div.segment_item_left {
	width: 20%;
	float: left;
	margin: 6px 0px;
	vertical-align: middle;
}

div.segment_item_right {
	width: 80%;
	float: right;
	margin: 6px 0px;
	vertical-align: middle;
}

div.segment_body {
	padding: 10px;
}

div.graph_plot {
	border: 1px;
  	border-style: solid;
  	border-color: #AfAfAf;
  	padding: 20px;
}

div.segment_list {
  	color: #8f8f8f;
  	margin: 20px;
  	margin: 25px 0px;
}

div.clear {
	clear: both;
}

button.delete_segment {
	float: right;
	width: 20px;
	height: 20px;
	background: #F3356B;
	text-align: center;
	padding: 0;
	font-size: 13px;
}

button.delete_segment:hover {
	background: #FB759B;
}

button.delete_segment:active {
	background: #ffffff;
	color: #FB759B;
}

